.actorsPage {
  display: flex;
}

.actorsList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 12px;
  overflow-wrap: break-word;
}

.actorName {
  width: 120px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding-left: 6px;
}